<div class="container">
  <div *ngFor="let item of this.species$ | async" class="card card-item">
    <h3 class="highlighted card-title">{{ item.name }}</h3>
    <p>
      <span class="highlighted">Classification:</span> {{ item.classification }}
    </p>
    <p>
      <span class="highlighted">Designation:</span> {{ item.designation }}
    </p>
    <p>
      <span class="highlighted">Average height:</span> {{ item.average_height }}
    </p>
    <p>
      <span class="highlighted">Skin colors:</span> {{ item.skin_colors }}
    </p>
    <p>
      <span class="highlighted">Hair colors:</span> {{ item.hair_colors }}
    </p>
    <p>
      <span class="highlighted">Eye colors:</span> {{ item.eye_colors }}
    </p>
    <p>
      <span class="highlighted">Average Lifespan:</span> {{ item.average_lifespan }}
    </p>
    <p>
      <span class="highlighted">Language:</span> {{ item.language }}
    </p>
  </div>
  <app-pag
    [page]="page"
    [dataStoreFunc]="'initFetchSpeciesAndGetSpeciesStore'"
  >
  </app-pag>
</div>
