<div class="container">
  <div *ngFor="let item of this.starships$ | async" class="card card-item">
    <h3 class="highlighted card-title">{{ item.name }}</h3>
    <p>
      <span class="highlighted">Manufacturer:</span> {{ item.manufacturer }}
    </p>
    <p>
      <span class="highlighted">Cost:</span> {{ item.cost_in_credits }}
    </p>
    <p>
      <span class="highlighted">Speed:</span> {{ item.max_atmosphering_speed }}
    </p>
    <p>
      <span class="highlighted">Crew:</span> {{ item.crew }}
    </p>
    <p>
      <span class="highlighted">Passengers:</span> {{ item.passengers }}
    </p>
    <p>
      <span class="highlighted">Class:</span> {{ item.starship_class }}
    </p>
  </div>
  <app-pag
    [page]="page"
    [dataStoreFunc]="'initFetchStarshipsAndGetStarshipsStore'"
  >
  </app-pag>
</div>
