/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --main-bg: #01002f;
  --bg: #292d49;
  --fn-color: #9294a1;
  --hover-bg: #4f369d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  height: 100vh;
  background-color: var(--main-bg);
  color: var(--fn-color);
  padding: 10px 0;
}

.card {
  background-color: var(--bg);
  padding: 10px;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}

.card-item {
  width: 100%;
  max-width: 450px;
  transition: transform 0.5s ease-in-out;
}

.card-item:hover {
  transform: scale(1.02);
}

.highlighted {
  color: var(--hover-bg);
  font-weight: 700;
}

.card-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.ngx-pagination li span, .ngx-pagination li a {
  color: #fff;
}
